{% extends 'base.html' %}
{% block content %}
<ul>
{% if "User" in session %}  
  {% with loggedin = get_flashed_messages(category_filter = ["loggedin"]) %}
  {% if loggedin %}
    {% for message in loggedin %}
      <li>{{message}}</li>
    {% endfor %} 
  {% endif %}
 {% endwith %}
 {% endif %}
</ul>

<h1> User #{{ user.user_id }}</h1>
<h3> User age: {{ user.age }} </h3>
<h3> User zipcode: {{ user.zipcode }} </h3>

 <ul>
      {% for rating in user.ratings %}
          <li>
            {{ rating.movie.title }}: {{rating.score }}
          </li>
      {% endfor %}
    </ul>




{% endblock %}